.transactionHistory {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 4px 9px 11px -5px rgba(0, 0, 0, 0.75);
}

.item {
  padding: 10px;
  width: 170px;
  height: 60px;
  border: 1px solid grey;
}

.transactionHistoryHead {
  height: 60px;
  background-color: #6ed8e6;
  color: #fff;
}

.tabletRow:nth-child(2n) {
  background-color: #ecf1f4;
}
