.section {
  margin-bottom: 50px;
}
.friendList {
  margin-top: 50px;
}
.item {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  padding: 10px 20px;
  height: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: -3px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.item:last-child {
  margin-bottom: 0px;
}
